* {
	box-sizing: border-box;
	scrollbar-color: var(--color) var(--background);
}

:root {
	--background: #fff2f5;
	--color: #af0a41;
	--repo-name-color: #333;
	--monospace-font-stack: hack, fira code, source code pro, monospace;
	--sans-font-stack: avenir next, avenir, sans-serif;
	--font-stack: var(--sans-font-stack);
	--readme-font-stack: var(--sans-font-stack);
	--readme-background: white;
	--readme-color: #000;
	--readme-code-background: var(--background);
	--readme-code-color: var(--color);
	--font-base-size: 1.3em;
	--nav-background: var(--background);
	--nav-color: var(--color);
	--nav-background-highlight: white;
	--commit-message-background: white;
	--commit-message-color: #333;
	--commit-id-color: #333;
	--log-commit-summary-color: #2a61af;
	--log-commit-hover-background: #fffcfe;
	--tree-entry-hover-background: #fffcfe;
	--tree-entry-name-color: #2a61af;
	--tree-entry-summary-color: #333;
	--blob-background: white;
	--blob-color: var(--color);
	background: var(--background);
	color: var(--color);
	font-family: var(--font-stack);
	font-size: var(--font-base-size);
}

.main-header {
	font-size: 2em;
	display: inline-block;
}

.main-header__anchor {
	display: flex;
	align-items: baseline;
	text-decoration: none;
	color: inherit;
}

.main-header .main-header__anchor > * + * {
	margin-left: 0.5em;
}

.main-header__logo {
	height: 1em;
	width: 1em;
	background: url("/logo.svg");
	background-size: contain;
}

.main-header__name {
	font-weight: 500;
	letter-spacing: -2px;
	font-family: avenir next, avenir, source sans pro, sans-serif;
}

.repo-summary {
	display: flex;
	flex-direction: column;
	margin: 1em;
	padding: 1em;
	line-height: 1.4;
}

.repo-summary > * + * {
	margin-top: .2em;
}

.repo-summary-name {
	margin: 0;
	font-size: 1em;
	color: var(--repo-name-color);
}

.repo-summary-name__user {
	font-weight: 400;
}

.repo-summary__anchor {
	color: var(--repo-name-color);
}

.repo-summary-description {
	margin: 0;
	font-size: 0.8em;
}

.repo-summary__last-update {
	font-size: 0.6em;
	font-style: italic;
}

.readme {
	background: var(--readme-background);
	color: var(--readme-color);
	font-family: var(--readme-font-stack);
	padding: 1em 2em;
	border: 2px solid var(--color);
	border-width: 2px 0 2px 0;
	line-height: 1.4;
}

.readme pre {
	overflow: auto;
	background: var(--readme-code-background);
	color: var(--readme-code-color);
	font-family: var(--monospace-font-stack);
	padding: 1em;
}

.readme :not(pre) code {
	background: var(--readme-code-background);
	color: var(--readme-code-color);
	font-size: 0.9em;
	padding: 0.1em;
	word-break: break-all;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.user-name {
	font-size: 1em;
	color: var(--repo-name-color);
	margin: 1em;
}

.user-name__anchor {
	color: inherit;
	text-decoration: none;
}

.user-name__anchor:hover {
	text-decoration: underline;
}

.project-name {
	font-size: 1em;
	color: var(--repo-name-color);
	margin: 1em;
	font-weight: 400;
}

.project-name__user {
	color: inherit;
}

.project-name__repo {
	color: inherit;
	font-weight: 700;
}

.project-nav {
	width: 80%;
	background: var(--nav-background);
	color: var(--nav-color);
	line-height: 2em;
	margin: 1em auto;
}

.project-nav-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 10ch);
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0.5em;
	grid-row-gap: 0.5em;
	grid-column-gap: 2em;
}

.project-nav-item {
	text-align: center;
	border: 1px solid var(--nav-color);
}

.project-nav-item:hover {
	background: var(--nav-background-highlight);
	color: var(--nav-color);
}

.project-nav-item--active {
	background: var(--nav-background-highlight);
}

.project-nav-item__anchor {
	display: block;
	color: inherit;
	text-decoration: none;
}

.log {
	display: grid;
	width: 100%;
	list-style-type: none;
	padding: 0 1em;
}

.log-commit {
	width: 100%;
	padding: 0 0.5em;
	margin: 0.5em 0;
	display: grid;
	grid-column-gap: 0.5em;
	grid-row-gap: 0.1em;
	border-left: 2px solid var(--log-commit-summary-color);
}

.log-commit:hover {
	background: var(--log-commit-hover-background);
}

.log-commit > * {
	margin: 0;
}

.log-commit__summary {
	font-size: 1em;
	text-overflow: ellipsis;
	font-weight: 400;
}

.log-commit__summary-anchor {
	display: block;
	text-decoration: none;
	color: var(--log-commit-summary-color)
}

.log-commit__summary-anchor:hover {
	text-decoration: underline;
}

.log-commit__message {
	background: var(--commit-message-background);
	color: var(--commit-message-color);
	overflow: auto;
	font-size: 0.8em;
	padding: 1em;
}

.log-commit__person {
	text-decoration: none;
	font-weight: 500;
	color: inherit;
}

.log-commit__person:hover {
	text-decoration: underline;
}

.commit-id {
	text-decoration: none;
	font-family: var(--monospace-font-stack);
	font-weight: 500;
	font-size: 0.8em;
	color: var(--commit-id-color);
}

.commit-id:hover,
.commit-id:active {
	text-decoration: underline;
}


.tree {
	font-size: 0.8em;
	list-style-type: none;
	padding: 0 1em;
	display: grid;
	width: 100%;
}

.tree-entry {
	width: 100%;
	padding: 0.25em;
	display: grid;
	grid-column-gap: 0.5em;;
	grid-row-gap: 0.1em;
	grid-template-columns: 2em 3fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "icon name"
                          "icon summary"
		                "icon date";
}

.tree-entry--parent {
	grid-template-areas: "icon name"
                          "icon name";
}

.tree-entry:hover {
	background: var(--tree-entry-hover-background);
}

.tree-entry-name {
	margin: 0;
	font-weight: normal;
	color: var(--tree-entry-name-color);
	word-break: none;
	white-space: nowrap;
	grid-area: name;
}

.tree-entry-icon {
	grid-area: icon;
	font-size: 2em;
}

.tree-entry-summary {
	color: var(--tree-entry-summary-color);
	text-decoration: none;
	text-overflow: ellipsis;
	grid-area: summary;
}

.tree-entry-summary:hover {
	text-decoration: underline;
	color: var(--tree-entry-name-color);
}

.tree-entry-date {
	grid-area: date;
}

.tree-entry-name__anchor {
	color: inherit;
	text-decoration: none;
	display: block;
	height: 100%;
}

.tree-entry-name__anchor:hover {
	text-decoration: underline;
}

.blob {
	margin: 0 1em;
}

.blob-header {
	font-size: 0.8em;
}

.blob-header__heading {
	font-weight: normal;
	font-size: 1em;
	margin: 0;
	color: #333;
	background: white;
	font-style: italic;
	border: 1px solid var(--color);
	border-bottom-width: 0;
	border-radius: 4px 4px 0 0;
	padding: .5em;
}

.blob-header .tree-entry {
	padding: 0;
}

.blob-content {
	margin: 0;
	counter-reset: blob-line;
	white-space: pre;
	font-family: var(--monospace-font-stack);
	background: var(--blob-background);
	padding: 1em;
	border: 1px solid currentColor;
	border-radius: 0 0 4px 4px;
	font-size: 0.8em;
	margin-bottom: 1em;
	overflow: auto;
}

.blob-content__line {
	counter-increment: blob-line;
	display: grid;
	line-height: 1.2em;
	/* this will cause a visual bug after 9999 lines. fine with that */
	grid-template-columns: 5ex 1fr;
	grid-template-areas: "lineno line";
	grid-area: line;
	grid-column-gap: 1ex;
}

.blob-content__line::before {
	grid-area: lineno;
	user-select: none;
	content: counter(blob-line) " ";
	width: 5ex;
	display: inline-block;
	text-align: right;
	opacity: 0.5;
}

.refs {
	margin: 0 1em;
}

.refs-heading {
	font-size: 1em;
	font-weight: 500;
}

.commit {
	margin: 1em;
}

.commit-message {
	font-family: var(--font-stack);
}

.commit-diff {
	font-size: 0.8em;
	overflow: auto;
	background: white;
	padding: 1em;
	margin: 1em;
}
